# Created by .ignore support plugin (hsz.mobi)
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/bin/
shared-journal/
gatling-rest/shared-journal/

/gatling-ui/node_modules
/gatling-ui/npm-debug.log
/gatling-ui/assets/css/light-bootstrap-dashboard.css.map
