# Created by .ignore support plugin (hsz.mobi)
# Eclipse
.classpath
.project
.settings/
#vscode
.vscode/
# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/bin/
shared-journal/
gatling-rest/shared-journal/

/gatling-rest/src/main/resources/static/node_modules/*.*
/gatling-rest/src/main/resources/static/node_modules/
/src/node_modules
/gatling-ui/src/main/frontend/npm-debug.log
/gatling-ui/src/main/frontend/assets/css/light-bootstrap-dashboard.css.map
/gatling-rest/src/main/resources/static/*.map
