<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" >
                    <div class="header">
                        <h4 class="title">Please provide complete information for your performance test.</h4>
                    </div>
                    <div class="content">
                        <form #simulationForm="ngForm"  novalidate >
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation File</label>
                                        <input #fileInput type="file" name="file" required class="form-control" (change)="selectFile($event)" placeholder="Simulation File" accept=".scala"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation resources</label>
                                        <input #fileInput type="file" name="file" required class="form-control" (change)="selectResourcesFile($event)" placeholder="Resources File" accept=".zip"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Complete Simulation Class Name</label>
                                        <input type="text" name="package" required class="form-control" [(ngModel)]="model.packageName" placeholder="Complete Simulation Class Name(com.walmart.store.BasicSimulation)">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation Parallelism</label>
                                        <input type="number" name="parallelism"  required class="form-control"  [(ngModel)]="model.parallelism" placeholder="Simulation Parallelism">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Access Key</label>
                                        <input type="text" name="accessKey" class="form-control" [(ngModel)]="model.accessKey" placeholder="Access Key">
                                    </div>
                                </div>

                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" name="userName" class="form-control" [(ngModel)]="model.userName" placeholder="User Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Optional Parameters</label>
                                        <input type="text" name="parameter" class="form-control" [(ngModel)]="model.parameter" placeholder="Optional Parameters">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Partition Name</label>
                                        <select type="text" name="partitionName" required  class="form-control" [(ngModel)]="model.partitionName"  placeholder="Partition Name">
                                           <option *ngFor="let partition of partitions">
                                               {{ partition }}
                                           </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <span type="text"  *ngIf="!success" class="text-danger">The job is not submitted properly please correct your input and try again.</span>
                            </div>

                            <button type="submit"   class="btn btn-info btn-fill left" (click)="upload();">Upload & Run </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
