<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card">
                    <div class="header">
                        <h4 class="title text-primary">Master Memory</h4>
                    </div>
                    <div class="content text-success">
                        <div class="content table-responsive table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>METRICS KEY</th>
                                        <th>METRICS VALUE</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="metrics">
                                <tr *ngFor="let metric of getMemoryMetrics(metrics)" routerLinkActive="active" >

                                    <td>{{metric.key}}</td>
                                    <td>{{metric.val}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title text-primary">Master GC stats</h4>
                    </div>
                    <div class="content text-success">
                        <div class="content table-responsive table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>METRICS KEY</th>
                                    <th>METRICS VALUE</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="metrics">
                                <tr *ngFor="let metric of getGcMetrics(metrics)" routerLinkActive="active" >

                                    <td>{{metric.key}}</td>
                                    <td>{{metric.val}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title text-primary">Master Thread</h4>
                    </div>
                    <div class="content text-success">
                        <div class="content table-responsive table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>METRICS KEY</th>
                                    <th>METRICS VALUE</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="metrics">
                                <tr *ngFor="let metric of getThreadMetrics(metrics)" routerLinkActive="active" >

                                    <td>{{metric.key}}</td>
                                    <td>{{metric.val}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
