<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Partition Status Information</h4>
                        <p class="category">Partition task slot by status</p>
                    </div>
                    <div class="content">
                        <div id="partitionStatus" class="ct-chart ct-perfect-fourth"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i>
                                <i class="fa fa-circle text-danger"></i>
                                <i class="fa fa-circle text-warning"></i>
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> Partition status information
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Worker task slots</h4>
                        <p class="category">Task slot distribution by host</p>
                    </div>
                    <div class="content">
                        <div id="chartHost" class="ct-chart"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i>
                                <i class="fa fa-circle text-danger"></i>
                                <i class="fa fa-circle text-warning"></i>
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>Worker task slots
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <div class="header">
                        <h4 class="title">Cluster Partition Information</h4>
                        <p class="category">Task slot distribution by partition</p>
                    </div>
                    <div class="content">
                        <div id="chartPartition" class="ct-chart"></div>
                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i>
                                <i class="fa fa-circle text-danger"></i>
                                <i class="fa fa-circle text-warning"></i>
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i>Cluster Partition Information
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
