<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card" >
                    <div class="header">
                        <h4 class="title">Edit Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation File</label>
                                        <input type="text" class="form-control"  placeholder="Simulation File Path.">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Partition Name</label>
                                        <input type="text" class="form-control"  placeholder="Partition Name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation File Name</label>
                                        <input type="text" class="form-control" placeholder="Simulation File Name">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Simulation Parallelism</label>
                                        <input type="number" class="form-control" placeholder="Simulation Parallelism">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill left">Uplaod & Run </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
